{% extends 'base.html' %}{%load static %}{% load crispy_forms_tags %} {% block page_title %}Uploader{% endblock %} {% block page_heading %}Add News{% endblock %}
 {% block content %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1"> Upload a file</label>
        <input type="file" id="file1" name="file">
        <small>Only accepts CSV files</small>
        <button type="submit">Upload</button>
    </form>

    {% for profile in profiles %}
    {{profile.name}}
    {% endfor %}


 {% endblock%}