{% extends 'base.html' %}{%load static %}{% load crispy_forms_tags %} {% block page_title %} Add Groups{% endblock %} {% block page_heading %}Add Groups{% endblock %}
 {% block content %}

 <script src="https://cdn.tiny.cloud/1/kpjdhptjs36lfqw2qadvf8at9ctiu2mayk7ij9qickwejno7/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
 <script src="{% static  'js/tiny.js' %}"></script> 
 <h1>Add Groups</h1>

 <div class="container-fluid">
  <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">

  <form method='POST' enctype="multipart/form-data">
                      {% csrf_token %} {{ groups|crispy }}
                      <button type="submit" class="btn btn-success">Add</button>

                      </form>

                      </div>

</div>
</div>

 {% endblock%}