{% extends 'base.html' %} {% block page_title %}Group Detail{% endblock %} {% block page_heading %}Group Detail{% endblock %}
 
   {% block title %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'dashboard'%}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'group_directory'%}">Group Directory</a></li>
    <li class="breadcrumb-item active" aria-current="page">Group Detail</li>
  </ol>
</nav>{% endblock %}
 
 
 {% block content %}

 <div class="compny-profile"> 
    <!-- SUB Banner -->
   
    <div class="profile-bnr " style="background:url({{MEDIA_URL}}{{group.image}})no-repeat; background-size: cover; min-height: 250px;background-position:center;">
      <div class="container">
        <div class="pull-left">
          <h1 class='text-white' style="background-color:#5CC1CD;margin-top:15px;">{{group.groupName}} > Established: {{group.created}}</h3>
          
           </div>
        
        <!-- Top Riht Button -->
            <div class="right-top-bnr">
              
            </div>
         </div>
      </div>
      
      <!-- Modal POPUP -->
     
    
    <!-- Profile Company Content -->
    <div class="profile-company-content user-profile main-user" data-bg-color="f5f5f5">
      <div class="container">
        <div class="row"> 
          
          <!-- Tab Content -->
          <div class="col-md-12">
            <div class="tab-content"> 
              
              <!-- PROFILE -->
              <div id="profile" class="">
                <div class="row"> 
                  
                  <!-- Col -->
                  <div class="col-md-4"> 
                    
                    <!-- Professional Details -->
                    <div class="sidebar">
                      <h5 class="main-title">Meeting Dates</h5>
                   
                      <div class="sidebar-information">
                        <ul class="single-category">
                        {% for meet in meetings %}
                          <li>{{meet.meeting_date}}  <a href="{% url 'join_meet' meet.pk %}?q={{group.pk}}"><span style="color:#31A8EC;">Attend</span></a></li>
                        {% endfor %}
                        </ul>
                      </div>
                    </div>
                    
                    <!-- Rating -->
                    {% comment %} <div class="sidebar">
                      <h5 class="main-title">Business Areas</h5>
                      <div class="sidebar-information">
                        <ul class="single-category com-rate">
                          <li class="row">
                            <h6 class="title col-xs-6">Design:</h6>
                            <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span> </li>
                          <li class="row">
                            <h6 class="title col-xs-6">Finance:</h6>
                            <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i></span> </li>
                          <li class="row">
                            <h6 class="title col-xs-6">Creative:</h6>
                            <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span> </li>
                          <li class="row">
                            <h6 class="title col-xs-6">Legal:</h6>
                            <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span> </li>
                          <li class="row">
                            <h6 class="title col-xs-6">Beauty:</h6>
                            <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span> </li>
                        </ul>
                      </div>
                    </div> {% endcomment %}
                    
                    <!-- Social Profiles -->
                    <div class="sidebar">
                      <h5 class="main-title">Social Profiles</h5>
                      <ul class="socil">
                        <li><a href="#."><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#."><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#."><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#."><i class="fa fa-twitter"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-7 col-lg-7"> 
                    <!-- Skills -->
                    <div class="sidebar">
                      <h5 class="main-title">About</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi, mollitia, voluptatibus similique aliquidautem 
                        laudantium sapiente ad enim ipsa modi labo rum accusantium deleniti neque architecto vitae.<br>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, nihil, dolores, culpa ullam vero ipsum placeat accusamus nemo
                        itate id molestiae consectetur quae pariatur repudi andae vel ex quaerat nam iusto aliquid laborum quia adipisci aut ut imcati 
                        nisi deleniti tempore maxime sequi fugit reiciendis libero quo. Rerum, assumenda. <br>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, at nemo inventore temporibus corporis suscipit.</p>
                      {% comment %} <h5 class="main-title">Skills</h5>
                      <div class="job-skills"> 
                        
                        <!-- Logo Design -->
                        <ul class="row">
                          <li class="col-sm-3">
                            <h6><i class="fa fa-plus"></i> Crafts</h6>
                          </li>
                          <li class="col-sm-9">
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"> </div>
                            </div>
                          </li>
                        </ul>
                        
                        <!-- Logo Design -->
                        <ul class="row">
                          <li class="col-sm-3">
                            <h6><i class="fa fa-plus"></i>  Start Up</h6>
                          </li>
                          <li class="col-sm-9">
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"> </div>
                            </div>
                          </li>
                        </ul>
                        
                        <!-- Logo Design -->
                        <ul class="row">
                          <li class="col-sm-3">
                            <h6><i class="fa fa-plus"></i> Finance</h6>
                          </li>
                          <li class="col-sm-9">
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"> </div>
                            </div>
                          </li>
                        </ul>
                        
                        <!-- UI / UX -->
                        <ul class="row">
                          <li class="col-sm-3">
                            <h6><i class="fa fa-plus"></i> Health & Fitness</h6>
                          </li>
                          <li class="col-sm-9">
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"> </div>
                            </div>
                            <p>Preferred languages are Arabic, French & Italian. Proin nibh augue, suscipit asce lerisque sed, lacinia in, mi.</p>
                          </li>
                        </ul> {% endcomment %}
                      </div>
                    </div>
                    
                    <!-- Professional Details -->
                    <div class="sidebar">
                      <h5 class="main-title">Members</h5>
                      {% for member in members %}
                      <!-- Similar -->
                      <div class="similar">
                        <div class="media">
                          <div class="media-left">
                            <div class="inn-simi"> <img class="media-object" src="{{MEDIA_URL}}{{ member.business_profile.logo}}" alt="logo">  </div>
                          </div>
                          <div class="media-body">
                            <h5>{{member.business_profile.business_name}}</h5>
                            <p>{{member.business_profile.business_type }}</p>
                            <p style="font-size:15px!important">{{member.business_profile.about| safe | linebreaks }}</p>
                            
                            <!-- Share -->
                            <div class="share-w"> <a href="{{member.business_profile.e_mail }}"><i class="fa fa-envelope-o"></i></a> <a href="{% url 'bp_view' member.pk%}"><i class="fa fa-eye"></i></a></div>
                          </div>
                        </div></div>
                {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 


 
 
 {% endblock %}