{% load static %}{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>ScreenPop - Home</title>

<!-- Fonts Online -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<!-- Style Sheet -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
<link rel="stylesheet" href="{% static 'css/main-style.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<div id="main-wrapper"> 
  
  <!-- Top Toolbar -->
  <div class="toolbar">
    <div class="uou-block-1a blog">
      <div class="container">
        <div class="search"> 
                <ol class="breadcrumb" style="background-color:#f4f4f4!important;">
              <li class="breadcrumb-item"><a href="user-dashboard.html">Home</a></li>
           
            </ol>
        </div>
        <ul class="social">
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-twitter"></a></li>
          <li><a href="#" class="fa fa-google-plus"></a></li>
        </ul>
        <ul class="authentication">
          <li><a href="#">Welcome Dave</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
 
      </div>
    </div>
    <!-- end .uou-block-1a --> 
  </div>

       <div class="col-md-8"></div>
  <!-- end toolbar -->
  
  <div class="box-shadow-for-ui">
    <div class="uou-block-2b">
      <div class="container"> <a href="#" class="logo"><img src="images/screenpop-logo.png" alt=""></a> <a href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>
        <nav class="nav">
          <ul class="sf-menu">
            <li><a href="user-dashboard.html"><i class="fa  fa-home"></i></a></li>
            <li> <a href="listing-filter.html">Market Place</a> </li>
            <li class=""> <a href="blog.html">Blog</a>
              <ul>
                  <li><a href="blog.html"> View Blogs</a></li>
        
                <li><a href="blog-post.html">Blog Post</a></li>                
              </ul>
            </li>
            <li> <a href="profile_company-no-tabs.html">Company Profile</a></li>
          
                <li class=""> <a href="index.html">Admin</a>
              <ul>
                  <li><a href=""> Add User</a></li>
        
                <li><a href="">Manage Meeting</a></li> 
                    <li><a href="">Add News</a></li>                
              </ul>
            </li>
              <li><a href="listing-filter-1.html">Group Directory</a></li>
         
          </ul>
        </nav>
      </div>
    </div>
    </div>
    <!-- end .uou-block-2b --> 

  <!-- HOME PRO-->
  <div class="home-pro" style="height:100%;"> 
    
    <!-- PRO BANNER HEAD -->
    <div class="banr-head">
      <div class="container">
        <div class="row"> 
          
          <!-- CONTENT -->
          
          
          <!-- FORM SECTION -->
          <div class="col-6 col-sm-10 col-md-8">
            <div class="login-sec"> 
              
              <!-- TABS -->
              <div class="uou-tabs">
                <ul class="tabs">
                  {% comment %} <li><a href="#register">Register Now</a></li> {% endcomment %}
                  <li class=""><a href="#log-in">Member Login</a></li>
                </ul>
                
                <!-- REGISTER -->
                <div class="content">
                  <div id="register">
                    <form>
                      <input type="text" placeholder="Full Name">
                      <input type="email" placeholder="Email Address">
                      <input type="text" placeholder="Phone">
                      <input type="password" placeholder="Password">
                      <button type="submit">Register</button>
                      <div class="login-with"> <span>Or login with:</span> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-google"></i></a> <a href="#."><i class="fa fa-linkedin"></i></a> </div>
                    </form>
                  </div>
                  
                  <!-- LOGIN -->
                  <div id="log-in" class="active">
                    <!--<form>
                      <input type="email" placeholder="Email Address">
                      <input type="password" placeholder="Password">
                      <button type="button" onclick="window.location.href='user-dashboard.html'">Login</button>
                      <div class="login-with"> <span>Or login with:</span> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-google"></i></a> <a href="#."><i class="fa fa-linkedin"></i></a> </div>
                      <div class="forget">Forgot your password? <a href="#.">Click Here</a></div>
                    </form>-->
                      <form method='POST'>
                       {{ login_form|crispy }}    {% csrf_token %}
                      <button type="submit" class="btn btn-success">Login</button>

                      </form>

  
                                      </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    
  
  
  </div>
</div>

{% if messages %}

        <div class="message" id='alert' role="alert">

            {% for message in messages %} {{ message }} {% endfor %} {% endif%}
          
        </div>

</div>

<!-- Scripts --> 
<script src="https://maps.googleapis.com/maps/api/js"></script> 
<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script> 

<!--<script src="js/bootstrap.js"></script> -->
<script src=" {% static  'js/plugins/superfish.min.js' %}"></script> 
<script src="{% static  'js/jquery.ui.min.js' %}"></script> 



<script src="{% static 'js/plugins/rangeslider.min.js' %}"></script> 
<script src="{% static 'js/plugins/jquery.flexslider-min.js' %}"></script> 
<script src="{% static 'js/uou-accordions.js' %}"></script> 
<script src="{% static  'js/uou-tabs.js' %}"></script> 
<script src="{% static 'js/plugins/select2.min.js' %}"></script> 
<script src="{% static 'js/owl.carousel.min.js' %}"></script> 
<script src="{% static  'js/gmap3.min.js' %}"></script> 
<script src="{% static  'js/scripts.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script><!---->


  <script src="{% static  'js/custom.js' %}"></script> 
</body>
</html>