{% extends 'base.html' %}{% load static%} {% block page_title %}Profile{% endblock %} {% block page_heading %}Market Place{% endblock %}
 {% block title %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Business Profile</li>
  </ol>
</nav>{% endblock %}
 
 {% block content %}

  <div class="compny-profile"> 
    {% for prof in profile %}
    <!-- SUB Banner -->
    <div class="profile-bnr" style='background: url({{MEDIA_URL}}{{prof.header_image}}) no-repeat; background-size: contain;background-position:center;'>
      <div class="container"> 
        
        <!-- User Iinfo -->
        <div class="user-info">
      
          <h1>{{prof.business_name}} <a data-toggle="tooltip" data-placement="top" title="Verified Member"><img src="{{MEDIA_URL}}{{prof.logo}}" alt="logo" style="width:300px;height:300px;"></a> </h1>
          <h6>{{prof.business_type}}</h6>
          <p>{{ prof.street_address1}} {{ prof.street_address2}} {{ prof.town_or_city}} {{ prof.postcode }}<br>{{prof.location}}</p>
          
          <!-- Social Icon -->
          <div class="social-links"> <a href="{{prof.facebook}}"><i class="fa fa-facebook"></i></a> <a href="{{prof.instagram}}"><i class="fa fa-instagram"></i></a>  <a href="{{prof.twitter}}"><i class="fa fa-twitter"></i></a> <a href="{{prof.google}}"><i class="fa fa-google"></i></a> <a href="{{prof.linkedin}}"><i class="fa fa-linkedin"></i></a> <a href="mailto:{{prof.e_mail}}"><i class="fa fa-envelope-o"></i> </a> <a href="{{prof.website}}"><i class="fa fa-globe"></i></a> </div>
         
         
  {%if user.pk == prof.user.pk %}
           <a href="{% url  'edit_profile' prof.pk %}">EDIT PAGE</a
           {%endif%}  
          
      
          
          <!-- Followers -->
          
        </div>
        
        <!-- Top Riht Button -->
      
      </div>
      
      <!-- Modal POPUP -->
     
    </div>
    
    <!-- Profile Company Content -->
    <div class="profile-company-content" data-bg-color="f5f5f5">
      <div class="container">
        <div class="row"> 
          
          <!-- SIDE BAR -->
          <div class="col-md-4"> 
            
            <!-- Company Information -->
            <div class="sidebar">
              <h5 class="main-title">Company Information</h5>
              <div class="sidebar-thumbnail"> <img src="{{MEDIA_URL}}{{prof.logo}}" alt=""> </div>
              <div class="sidebar-information">
                <ul class="single-category">
                  <li class="row">
                    <h6 class="title col-xs-6">Industry</h6>
                    <span class="subtitle col-xs-6">{{prof.business_type}}</span> </li>
                  <li class="row">
                    <h6 class="title col-xs-6">Location</h6>
                    <span class="subtitle col-xs-6">{{prof.location}}</span> </li>
                  <li class="row">
                    <h6 class="title col-xs-6">Employees</h6>
                    <span class="subtitle col-xs-6">{{prof.number_emp}}</span> </li>
                  <li class="row">
                    <h6 class="title col-xs-6">Legal Entity</h6>
                    <span class="subtitle col-xs-6">{{prof.legal_entity}}</span> </li>
                 <li class="row">
                    <h6 class="title col-xs-6">Operating Hours</h6>
                    <span class="subtitle col-xs-6">{{prof.opening_hours}}</span> </li>
                  <li class="row">
                    <h6 class="title col-xs-6">Contacts</h6>
                    <div class="col-xs-6"> <span class="subtitle">{{prof.contact_name}}</i></span>   </div>
                  </li>
                </ul>
              </div>
            </div>
            
            <!-- Company Rating -->
            {% comment %} <div class="sidebar">
              <h5 class="main-title">Owner Info</h5>
              <div class="sidebar-information">
                <ul class="single-category com-rate">
                  <li class="row">
                    <h6 class="title col-xs-6">Contacts</h6>
                    <div class="col-xs-6"> <span class="subtitle">{{prof.user.first_name}}</i></span> <span class="subtitle"> </div>
                  </li>
                  <li class="row">
                    <li class="row">
                    <h6 class="title col-xs-6">Joined</h6>
                    <div class="col-xs-6"> <span class="subtitle">{{prof.user.date_joined}}</i></span>  </div>
                  </li>
                  <li class="row">
                    <img src="{{MEDIA_URL}}{{prof.user.profile.profile_image}}" alt="profile picture" style="width:70px;height:70px;"> </li>
                  <li class="row">
                    <h6 class="title col-xs-6">Price:</h6>
                    <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span> </li>
                  <li class="row">
                    <h6 class="title col-xs-6">Services:</h6>
                    <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span> </li>
                </ul>
              </div>
            </div> {% endcomment %}
            
            <!-- Company Rating 
            <div class="sidebar">
              <h5 class="main-title">Contact</h5>
              <div class="sidebar-information form-side">
                <form action="#">
                  <input type="text" placeholder="Name & Surname">
                  <input type="text" placeholder="E-mail address">
                  <textarea placeholder="Your Message"></textarea>
                  <button class="btn btn-primary">Send message</button>
                </form>
              </div>
            </div>-->
          </div>
          
          <!-- Tab Content -->
          <div class="col-md-7">
            <div class=""> 
              
              <!-- PROFILE -->
              <div id="profile" class="">
                <div class="profile-main">
                  <h3>About the Company - 60 Second Pitch</h3>
                  <div class="profile-in">
                    <div class="image-part"> <img src="{% static 'images/about-icon.png'%}" alt="logo" style="height:80px; width:80px;"> </div>
                    <p>    {{prof.about| safe | linebreaks}}.</p>
                  </div>
                </div>
                
                <!-- Services -->
                <div class="profile-main">
                  <h3>Services</h3>
                   <div class="profile-in">
                  <div class="image-part"> <img src="{% static 'images/about-icon.png'%}" alt="logo" style="height:80px; width:80px;"> </div>
                  </div>
                  <div class="profile-in ">
                  
                    
                   
                 
                         
                        <p>{{prof.services| safe | linebreaks}}</p>
                   
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor%}
 {% endblock %}