{% extends 'base.html' %}{%load bootstrap4%}{% load crispy_forms_tags %} {% load static %}{% block page_title %}Market Place{% endblock %} {% block page_heading %}Market Place{% endblock %}
 {% block content %}

  

  <div class="container-fluid">

      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">

 {% crispy profile %} 




                      </div>


</div>
</div>
 <form method='POST' enctype="multipart/form-data">
                      {% csrf_token %} {{ tiny|crispy |  safe }}
                      
                      <button type="submit" class="btn btn-success">PUBLISH</button>

                      </form> 


 {% endblock %}