{% extends 'base.html' %} {% load static %}{% block page_title %}Market Place{% endblock %} {% block page_heading %}Market Place{% endblock %}
 
 {% block title %}<a href="{% url 'dashboard' %}">Dashboard</a>/Market Place{% endblock %}
 {% block content %}

  
  <!-- search -->
  <div class="search-pro">
    <div class="map-search">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            
            <div class="map-search-fields">
             
             <form method='POST' style="padding-left:0;">
              <div class="field">
                <input type="text" placeholder="Keyword" name="keyword">
              </div>
              <div class="field">
                <input type="text" placeholder="Location" name="location">
              </div>
              <div class="field custom-select-box">
                <input type="text" placeholder="Business Type" name="type">
              </div>
            </div>
            <div class="search-button">
             {% csrf_token %}
              <button  type="submit" >Search Members</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Members -->
  <section class="pro-mem">
    <div class="container pb30">
      <h3>Members</h3>
      <div class="row">
      {% for member in all_members %}
        <div class="col-sm-3">
          <div class="uou-block-6a" style="padding-top:5px;"> <a href= "{% url 'bp_view' member.business_profile.pk%}"><img src="{{MEDIA_URL}}{{member.business_profile.logo}}" alt="profile picture" style="cursor:pointer; width:200px;height:200px;"></a>
            <h6>{{member.user.firstname}} <span>{{member.business_profile.business_name}}</span></h6>
            <p><i class="fa fa-map-marker"></i>{{member.business_profile.location}}</p>
          </div>
          <!-- end .uou-block-6a --> 
        </div>
        {% endfor %}
          <!-- end .uou-block-6a --> 
        </div>
      </div>
    </div>
  </section>


 {% endblock %}