
{% extends 'base.html' %}{% load static%} {% block page_title %}User Profile Page{% endblock %} {% block page_heading %}Profile{% endblock %}

{% block title %}<a style="color:black;"href="{% url 'dashboard' %}">Dashboard</a>{% endblock %}
{% block content %}
 <p>{{ profile.email }}</p>
 <div class="compny-profile"> 
    
    <!-- Profile Company Content -->
    <div class="profile-company-content has-bg-image" data-bg-color="f5f5f5">
      <div class="container">
        <div class="row"> 
          
          <!-- SIDE BAR -->
          <div class="col-md-4"> 
            <!-- Company Information -->
            <div class="sidebar">
            
              {% for meet in meeting %}
              <h5 class="main-title">My Meetings</h5>
              <div class="sidebar-thumbnail"> <a href="{{meet.zoom_link}}"><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuuJPsARq6KBAjTcAfwVe9Ujvq9SZO7HFOyOM8RmsqyuJZ7pNc&s' alt='zoom'> </a></div>
              <div class="sidebar-information">
                <div class="profile-usermenu">
                  <ul class="nav nav-links">
                
                    <li class="active"> <a href="{% url 'pdf' meet.pk %}"> <i class="fa fa-heart-o"></i> Next Meeting: {{meet.meeting_date}} </a> </li>
                    <li> <a href="{% url 'apologies' meet.pk %}"> <i class="fa fa-close"></i> Apologies</a> </li>
                    
                    <li> <a href="{% url 'pdf' meet.pk %}" > <i class="fa fa-plus-circle"></i> Agenda</a> </li>
                    <li> <a href="{%url 'profile'%}"> <i class="fa fa-cog"></i> My Profile</a> </li>
                    <li> <a href="{% url 'logout' %}"> <i class="fa fa-sign-out"></i> Sign out </a> </li>
                  {% endfor %}
                  </ul>
                  <br>
                </div>
              </div>
            </div>
                  <div class="sidebar">
              <h5 class="main-title">My Groups</h5>
           
              <div class="sidebar-information">
                <div class="profile-usermenu">

                  <ul class="nav nav-links">
                  {% for switch in switchData %}
                    <li class=""> <a href="{% url 'switching' switch.pk %} "> <i class="fa fa-ticket"></i> {{switch.group.groupName}}--{{switch.business_profile.business_name}}</a> </li>
                   
                    
                  {% endfor %}
                  </ul>
                  <br>
                </div>
                
              </div>
            </div>

                  <div class="sidebar">
              <h5 class="main-title">My Meeting Requests</h5>
           
              <div class="sidebar-information">
                <div class="profile-usermenu">

             
              <ul class="nav nav-links">
              {%for guest in guests %}
             
              <li> <i class="fa fa-microphone"></i> {{guest.meeting.meeting_date}} {{guest.meeting.group}} {{guest.status}}</li>
              {% endfor %}
              </ul>


                 
                  <br>

                
                  
                </div>
                
              </div>

              
            </div>
               <h5 class="main-title">Tag Cloud</h5>

            <div class="widget-tag" style="padding-bottom:20px;">
              <div class="tag-cloud">

              {% for tag in tags %}
                 <a class="btn btn-primary" href="{% url 'post_tag' %}?q={{tag.tag.pk}}">{{tag.tag}}</a>
              {% endfor %}
              </div>
            </div>

              <div class="col-md-4"> 
           
            <!-- Company Information -->
     


          
          </div>
          </div>

          
          

              <div class="col-md-8" > 
            <!-- Company Information -->
            <div class="sidebar bottom_fix">
              <h5 class="main-title">Notifications</h5>
          
              <div class="sidebar-information" style="background-color:#fff">

                  {% comment %} <div class="row" style="background-color:#C7AAC6; margin-bottom:10px;padding-left:5px;"><h4>News</h4></div>
              {{test}}

              {% for article in articles %}

              
            <div class="latest-post-widget" >
              <div class="post-single">
                <img src="{{MEDIA_URL}}{{ article.image}}" alt="image of author" style="height:80px;width:80px;">
                <p class="meta"><span class="post-title">{{article.headline}}</span>  </p>
                <br><p class="">{{article.article|striptags |truncatewords_html:10}}</p>
               
              </div>
              </div>
          
          
          {% endfor %}
       
   <div>
      <div class="row" style=" background-color:#5CC0CE; margin-bottom:10px;padding-left:5px;"><h4>Latest Blogs</h4></div>
       {% for blo in blog %}
         <div class="latest-post-widget" >
              <div class="post-single">
                <img src="{{MEDIA_URL}}{{blo.author.profile.profile_image}}" alt="image of author" style="height:80px;width:80px;">
                <p class="meta"><span class="post-title">{{blo.title}}</span> {{blo.created_on}} {{blo.author}} </p>
                <br><p class="">{{blo.content|striptags|safe|truncatewords_html:10 }}</p>
               
              </div>
              </div>
             
              {% endfor %}
              </div>


              <div class="row" style="background-color:rgb(217,147,59); margin-bottom:10px;padding-left:5px;"> <h4>Latest Forum Posts</h4></div>
               {% for post in posts %}

               <h5>{{post.subject}} - {{post.topic.forum}}</h5>
               <p>{{post.content|striptags|safe|slice:":50"}}

               {% endfor%}

              
        
  
                
              </div> {% endcomment %}
            </div>
          </div>





        </div>
      </div>
    </div>
  </div>
          
  <!-- Compny Profile -->

  <div class="compny-profile"> 
    
    <!-- Profile Company Content -->
    <div class="profile-company-content has-bg-image" data-bg-color="f5f5f5">
      <div class="container">
        <div class="row"> 
          
          <!-- SIDE BAR -->
        
          
          <!-- Tab Content -->
          <div class="col-md-12" style="padding-bottom:20px;">
            <div class="network">
            
              
              <!-- Nav Tabs -->
              <ul class="nav nav-tabs">
                <li  class="active"><a data-toggle="tab" href="#connec">My Group({{member_count}})</a></li>
             
              </ul>
              
              <!-- Tab Content -->
              <div class="tab-content"> 
                
                <!-- Connections -->
                <div id="connec" class="">
                  <div class="net-work-in"> 
                    
                    <!-- Filter -->
                   
                    <!-- Members -->
                    <div class="main-mem"> 
                      
                      <!-- Head -->
                   
                      
                      <!-- Title -->
                      <div class="tittle">
                        <ul class="row">
                          <li class="col-xs-4"> <span>Contact</span> </li>
                          <li class="col-xs-3 d-none d-sm-block"> <span>Business Name</span> </li>
                          <li class="col-xs-3 d-none d-sm-block"> <span>Business Type</span> </li>
                          <li class="col-xs-2 n-p-r n-p-l d-none d-sm-block"> <span>Location</span> </li>
                        </ul>
                      </div>
                      
                      <!-- Tittle -->
                      <div class="folow-persons">
                        <ul>
                          {% for member in members %}
                          <!-- MEMBER -->
                          <li>
                            <div class="row">
                              <div class="col-xs-4"> 
                                <!-- Check Box -->
                              
                                <!-- Name -->
                                <div class="fol-name">
                                  <div class="avatar"> <img src="{{MEDIA_URL}}{{ member.business_profile.logo}}" alt="business"> </div>
                                  <h6><a href="{% url 'bp_view' member.pk%}">{{member.user}}</a></h6>
                                  <span>Web Developer</span> </div>
                              </div>
                              <!-- Location -->
                              <div class="col-xs-3 n-p-r n-p-l  d-none d-sm-block"> <span><a href="{% url 'bp_view' member.pk%}">{{member.business_profile.business_name}}</a></span> </div>
                              <!-- Network -->
                              <div class="col-xs-3 n-p-r  d-none d-sm-block"> <span>{{member.business_profile.business_type }}</span>  </div>
                              <!-- Connections -->
                              <div class="col-xs-2 n-p-r n-p-l  d-none d-sm-block"> <span>{{member.business_profile.location }}</span> </div>
                            </div>
                          </li>
                          
                         {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>      
              
               
</div>

 {% endblock %}