
{% extends 'base.html' %}{%load static %}{% load crispy_forms_tags %} {% block page_title %}User Profile Page{% endblock %} {% block page_heading %}Profile{% endblock %}
    {% block title %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'dashboard'%}">Dashboard</a></li>

    <li class="breadcrumb-item active" aria-current="page">Add Group 3/3</li>
  </ol>
</nav>{% endblock %}
 
 
 {% block content %}

 <h1 class="m-3">Add Groups 3/3</h1>

 <div class="container-fluid">

      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">

          <form method='POST' enctype="multipart/form-data">
                      {% csrf_token %} {{ switch|crispy }}
                      <button type="submit" class="btn btn-success">PUBLISH</button>

          </form>

        </div>

    </div>
</div>

 {% endblock %}   