{% extends 'base.html' %}{%load static %}{% load crispy_forms_tags %} {% block page_title %} Add News{% endblock %} {% block page_heading %}Add News{% endblock %}
 {% block title %}<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Blogs</li>
  </ol>
</nav>{% endblock %}
 
 {% block content %}

  
  <!-- search -->
  <div class="search-pro">
    <div class="map-search">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="map-toggleButton"> <i class="fa fa-bars"></i> </div>
            <div class="map-search-fields">
            <form method='POST' style="padding-left:0;">
              <div class="field">
                <input type="text" placeholder="Keyword" name='keyword'>
              </div>
              {% comment %} <div class="field">
                <input type="text" placeholder="Name" name="name">
              </div>
              <div class="field custom-select-box">
                <input type="text" placeholder="Profession">
              </div> {% endcomment %}
            </div>
            <div class="search-button">
             {% csrf_token %}
            
              <button>Search Blog</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






  <div class="blog-content pt60">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
               {% for post in page_obj %}
          <article class="uou-block-7f"> <img src="{{MEDIA_URL}}{{ post.author.profile.profile_image}}" alt="blog image" class="thumb" style="height:100px;width:100px;">
            <div class="meta"> <span class="time-ago">{{ post.created_on}}</span> <span class="category">Posted by:{{ post.author.first_name }}   </div>
            <h1><a href="{% url 'post_detail' post.slug  %}">{{ post.title }}</a></h1>
            <p>{{post.content|striptags|safe|slice:":100" }}</p>
            <a href="{% url 'post_detail' post.slug  %}" class="btn btn-small btn-primary">Read More</a> </article>
          <!-- end .uou-block-7f -->
          
         {% endfor %}
          <!-- end .uou-block-7f -->
          <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
          
          {% comment %} <div class="text-center pt20">
            <ul class="uou-paginatin list-unstyled">
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
            </ul>
          </div> {% endcomment %}
        </div>
        <div class="col-lg-3">
          <div class="uou-sidebar">
            
            <!-- end search-widget -->
            
            <h5 class="sidebar-title">Categories</h5>
            <div class="list-widget">
              <ul>
              {% for cat in  cat_list %}
                <li><a href="#">{{cat.category}}</a></li>
                {% endfor %}
                
              </ul>
            </div>
           
              <!-- end .uou-block-4b --> 
            </div>
            <!-- end social widget -->
            
            <h5 class="sidebar-title">Popular Posts</h5>
            {% for pop in popular|slice:"2" %}
            <div class="latest-post-widget">
              <div class="post-single"> <img src="{{MEDIA_URL}}{{ pop.author.profile.profile_image}}" alt="user">
                <p class="meta">{{ post.created_on}}</p>
                <p class="meta">{{post.category}}</p>
                <h6 class="post-title"><a href="{% url 'post_detail' pop.slug  %}">{{pop.title}}</a></h6>
              </div>
             {% endfor %}
            </div>
            <!-- end latest-post-widget -->

              <h5 class="main-title">Tag Cloud</h5>

            <div class="widget-tag" style="padding-bottom:20px;">
              <div class="tag-cloud">

              {% for tag in tags %}
                 <a class="btn btn-primary" href="{% url 'post_tag' %}?q={{tag.tag.pk}}">{{tag.tag}}</a>
              {% endfor %}
              </div>
            </div>
            
           
          </div>
          <!-- end uou-sidebar --> 
        </div>
      </div>
      <!-- end row --> 
      
    </div>
    <!-- edn cotainer --> 
    
  </div>
</div>
{% endblock %}
