
{% extends 'base.html' %}{%load static %}{% load crispy_forms_tags %} {% block page_title %} Add News{% endblock %} {% block page_heading %}Add News{% endblock %}
 
   {% block title %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'dashboard'%}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'blog'%}">Blogs</a></li>
    <li class="breadcrumb-item active" aria-current="page">Blog Post</li>
  </ol>
</nav>{% endblock %}
 
 {% block content %}

  
 

       <div class="col-md-8"></div>
  <!-- end toolbar -->
  

  
 <div class="blog-content pt60">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <article class="uou-block-7f blog-post-content">
           <h3 style="color:#6E7F97;">{{post.title}}</h3>

            <div class="meta">
              <span class="time-ago">{{ post.created_on }}</span>
              <span class="category">Posted in: <a href="#">{{ post.author }}</a></span>
              <a href="#" class="comments">{{ comments|length }} Comments</a>
            </div>

            {% comment %} <h3><a href="#">{{ post.title }}</a></h3> {% endcomment %}

            <p>{{ post.content | safe }}</p>


            <div class="uou-share-story clearfix">
              <div class="row">
               
       


            <a class="btn btn-primary " href="{% url 'blog' %}">Back To Blog List</a>

          </article> <!-- end .uou-block-7f -->


          <div class="uou-post-comment">
            <aside class="uou-block-14a">
              <h5 class="sidebar-title">Comments(<span>{{ comments|length }}</span>)</h5>
              <ul>
               {% for comment in comments %}
                <li>
                  <article class="comment">
                    <img src="img/p-post-1.png" alt="">

                    <div>
                      <header>
                        <a href="#" class="user">{{ comment.name }}</a>

                        <span class="time-ago">  {{ comment.created_on }}</span>
                        
                      </header>

                      <p> {{ comment.body | linebreaks }}</p>
                    </div>
                  </article>
                </li>
                  {% endfor %}



              </ul>
            </aside> <!-- end .uou-block-14a -->
      </div>
            <h4>Join Conversation</h4>
      
       <div class="uou-post-comment-form">
         
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
       
           

          </div>






        </div> <!-- end grid layout -->

        <div class="col-lg-3">
          <div class="uou-sidebar">

           
            <h5 class="sidebar-title">More Posts From {{post.author.first_name}}</h5>

            <div class="list-widget">
              <ul>

              {% for post in other_posts%}
                <li><a href="{% url 'post_detail' post.slug  %}">{{post.title}}</a></li>
                
              {% endfor %}
              </ul>
            </div>

</div>

 



 
            {% comment %} <h5 class="sidebar-title">About Us</h5>

            <p>Dave runs a small design business specialising in animation adverts</p> {% endcomment %}


       
<!-- end latest-post-widget -->


            

        

           

       


     
     






  








<!-- end #main-wrapper -->
{% endblock%}