{% extends 'base.html' %} {% block page_title %}News Library{% endblock %} {% block page_heading %} News Library{% endblock %}
 {% block content %}

 <div class="container-fluid">

 <h1>News Library</h1>

 
  <div class="blog-content pt60">
    <div class="container">
      <div class="row">
        <div class="col-md-9">

        {% for article in page_obj %}
          <article class="uou-block-7f"> <img src="{{MEDIA_URL}}{{ article.image}}" alt="news image" class="thumb" >
            <div class="meta"> <span class="Published">{{article.date}}</span>  </div>
            <h1><a href="#">{{article.headline}}</a></h1>
            <p>{{article.article|striptags |truncatewords_html:10}}</p>
            <a href="{{article.pk}}" class="btn btn-small btn-primary">Read More</a> </article>
          <!-- end .uou-block-7f -->
          {% endfor %}

      
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

     

          <!-- pagination-->
           
<nav aria-label="Page navigation example">

  <ul class="pagination">
  

  
    <li class="page-item">
      <a class="page-link" href="" aria-label="Previous">
        <span aria-hidden="true">LAST</span>
      </a>
    </li>
      {% for num in page_obj.paginator.page_range %}
    <li class="page-item" ><a class="page-link" href="?page={{ num }}" style='color:blue;'>{{num}}</a></li>
    {% endfor %}

    <li class="page-item">
      <a class="page-link" href="" aria-label="Next">
        <span aria-hidden="true">NEXT</span>
      </a>
    </li>
  </ul>
</nav>
     

        
          <!-- end uou-sidebar --> 
        </div>
      </div>
      <!-- end row --> 
      
    </div>
    <!-- edn cotainer --> 
    
  </div>
</div>
</div>
 {% endblock%}